:root {
  --rose-color:#d1002c;
  --gray-color:gray;
  --black-color:black; }

* {
  padding: 0;
  margin: 0; }

.title h1 {
  text-align: center;
  font-weight: bold; }

.container {
  width: 70%;
  position: absolute;
  z-index: 3;
  height: 50px;
  left: 50%;
  transform: translate(-50%, 0%); }

#carouselExampleFade {
  height: 100vh;
  width: 100%; }
  #carouselExampleFade img {
    height: 100vh; }
  #carouselExampleFade .btn {
    background-color: var(--rose-color);
    border: none; }
  #carouselExampleFade .row1 {
    display: flex;
    width: 80%;
    position: absolute;
    bottom: 130px;
    left: 15%;
    z-index: 3;
    color: white; }
    #carouselExampleFade .row1 p {
      color: var(--gray-color); }
    #carouselExampleFade .row1 h1 {
      font-weight: 800; }
  #carouselExampleFade .right-text {
    text-align: right; }
    #carouselExampleFade .right-text pre {
      color: var(--gray-color); }
    #carouselExampleFade .right-text .line {
      position: absolute;
      top: 8px;
      right: 170px;
      height: 30px;
      width: 8px;
      background-color: var(--rose-color); }

.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 25px; }
  .navbar-brand span {
    color: var(--rose-color); }

.navbar {
  display: flex; }
  .navbar .collapse {
    justify-content: right; }
    .navbar .collapse a {
      color: var(--gray-color); }
    .navbar .collapse a:hover {
      color: var(--rose-color); }

.navbar-toggler {
  color: var(--gray-color);
  border: none; }

.fa-play {
  color: var(--black-color);
  font-size: large; }

.pinkBg {
  background-color: var(--rose-color) !important;
  background-image: var(--rose-color); }

.intro-banner-vdo-play-btn {
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 20px;
  right: 500px;
  text-align: center;
  margin: -30px 0 0 -30px;
  border-radius: 100px;
  z-index: 1; }

.intro-banner-vdo-play-btn i {
  line-height: 56px;
  font-size: 30px; }

.intro-banner-vdo-play-btn .ripple {
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: -1;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin: -80px 0 0 -80px;
  border-radius: 100px;
  -webkit-animation: ripple 1.8s infinite;
  animation: ripple 1.8s infinite; }

@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); } }
.intro-banner-vdo-play-btn .ripple:nth-child(2) {
  animation-delay: .3s;
  -webkit-animation-delay: 0.3s; }

.intro-banner-vdo-play-btn .ripple:nth-child(3) {
  animation-delay: .6s;
  -webkit-animation-delay: 0.6s; }

@media only screen and (max-width: 500px) {
  .intro-banner-vdo-play-btn {
    position: absolute;
    bottom: 20px;
    right: 90px; } }
@media only screen and (max-width: 900px) {
  .left-text {
    position: absolute;
    top: -150px; }

  .right-text {
    position: absolute;
    bottom: 160px;
    text-align: left !important; }
    .right-text pre {
      display: none; }

  .right-text::after {
    color: var(--gray-color);
    content: "More than a\a        hundred successful\a        projects"; }

  .line {
    left: 1px; }

  .home-navbar {
    background-color: var(--black-color); }
    .home-navbar #navbarNav {
      background-color: var(--black-color); }

  .container {
    width: 100%;
    padding: 0; } }
/* =================about====================== */
.about-area {
  width: 70%;
  min-height: 100vh;
  height: auto;
  margin-top: 50px; }
  .about-area .icon {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
    .about-area .icon .icn {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
  .about-area .slide1 {
    margin-top: 50px;
    text-align: right; }
    .about-area .slide1 p {
      color: var(--gray-color); }
  .about-area .slide2 {
    margin-top: 50px;
    padding: 0; }
    .about-area .slide2 img {
      width: 100%;
      height: 100%; }
  .about-area .slide3 {
    margin-top: 50px;
    text-align: left; }
    .about-area .slide3 a, .about-area .slide3 a:hover {
      background-color: var(--rose-color);
      border: none; }
  .about-area .seo-footer {
    display: flex;
    margin-top: 50px; }
    .about-area .seo-footer .seo {
      display: flex;
      flex: 1; }
    .about-area .seo-footer h1 {
      color: var(--rose-color);
      display: flex;
      justify-content: center;
      width: 80px; }
    .about-area .seo-footer .seo-text p {
      color: var(--gray-color); }

.nav-background {
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  .nav-background .navbar a {
    color: var(--black-color); }
  .nav-background #navbarNav {
    background-color: white; }

@media only screen and (max-width: 500px) {
  .icon {
    display: flex;
    flex-direction: column; } }
/* ===================our works============================ */
.our-work-area {
  margin-top: 160vh;
  width: 100%;
  min-height: 540vh;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: lightgray; }
  .our-work-area h1 {
    margin-bottom: 100px; }
  .our-work-area .inner-work {
    width: 70%; }
    .our-work-area .inner-work .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin-top: -60px; }
      .our-work-area .inner-work .work .work img {
        width: 100%; }
    .our-work-area .inner-work .content2:nth-child(even) {
      margin-left: 40px; }
    .our-work-area .inner-work .content2:last-child {
      margin-bottom: 40px; }
    .our-work-area .inner-work .content2:nth-child(odd) {
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: right; }
    .our-work-area .inner-work .content2 a, .our-work-area .inner-work .content2 a:hover {
      margin-top: 30px;
      background-color: white;
      color: black;
      border: 1px solid gray; }
    .our-work-area .inner-work .content2 .profile-area {
      display: flex;
      width: 200px; }
      .our-work-area .inner-work .content2 .profile-area .profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden; }
        .our-work-area .inner-work .content2 .profile-area .profile img {
          width: 100%;
          background-size: cover; }
      .our-work-area .inner-work .content2 .profile-area p {
        margin-left: 10px;
        width: 100px; }

@media only screen and (max-width: 500px) {
  .our-work-area {
    margin-top: 450vh; }

  .content1, .content2 {
    margin-top: 10px; }

  .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .content2 a {
      font-size: small;
      width: 130px; }

  .work {
    display: block;
    margin-top: 50px !important; } }
/* =========================Clients-Says-About-Us================================== */
.Clients-Says-About-Us {
  min-height: 40vh;
  height: auto;
  margin-top: 70px; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

.dot:hover {
  background-color: var(--rose-color); }

.mySlides {
  display: flex;
  margin-top: 70px; }
  .mySlides .profile-card {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; }
    .mySlides .profile-card img {
      width: 100%;
      background-size: cover; }
  .mySlides .rounded-circle {
    color: var(--rose-color);
    text-align: left;
    margin-top: -15px;
    margin-left: 25px; }
  .mySlides .profile-area {
    display: flex;
    width: 200px; }

.banner {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin-top: 30px; }
  .banner img {
    width: 100%;
    position: absolute;
    top: -120px; }
  .banner .banner-text {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
    z-index: 3;
    color: white; }
    .banner .banner-text .get-start {
      color: var(--rose-color); }
    .banner .banner-text h3 {
      font-weight: 200; }
    .banner .banner-text p {
      color: var(--gray-color); }
    .banner .banner-text .btn {
      font-size: small;
      width: 100px !important;
      background-color: var(--rose-color);
      border: none; }

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }
@media only screen and (max-width: 500px) {
  .banner img {
    height: 500px; }

  .banner-text {
    width: 200px !important; } }
/* ==========================Recent-Blog================================= */
.Recent-Blog {
  margin-top: 170vh;
  width: 100%;
  min-height: 140vh;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: lightgray; }

.inner-blog {
  margin-top: 70px;
  width: 70%; }
  .inner-blog .bg {
    margin-top: 50px; }
    .inner-blog .bg img {
      width: 100%;
      height: 350px; }
    .inner-blog .bg a {
      font-weight: 400;
      color: var(--black-color);
      text-decoration: none; }
    .inner-blog .bg a:hover {
      color: var(--rose-color);
      text-decoration: none; }
    .inner-blog .bg .blog-header {
      font-size: 18px; }

@media only screen and (max-width: 500px) {
  .Recent-Blog {
    margin-top: 300vh; } }
/* =================footer================================== */
.footer {
  width: 100%;
  background-color: var(--black-color);
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  color: white; }

.blockcode {
  width: 70%; }
  .blockcode a {
    text-decoration: none;
    font-weight: bold;
    color: var(--gray-color) !important; }
  .blockcode .button-border {
    border-radius: 50%;
    width: 40px; }
  .blockcode .list-link p {
    color: var(--gray-color); }

/*# sourceMappingURL=main.css.map */
